 <!DOCTYPE html>
<html>

<head>

    <link rel ="stylesheet" href ="../ToolBoxCSS.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script>

        //This part is for wood

        httpGetAsync('../api/requiredwood.php?user_id=user01&p_name=chair', callrequiredwood); // changed callback to call
        function callrequiredwood(result) {
            console.log(result);
            var listRequiredwood = JSON.parse(result);


            for (var i in listRequiredwood) {
                var htmlrequiredwood = document.getElementById("requiredwood").innerHTML;
                document.getElementById("requiredwood").innerHTML = htmlrequiredwood + "<tr>" +
                    "<td> " + (listRequiredwood[i].pw_id ) + "</td>" +
                    "<td> " + (listRequiredwood[i].length) + "</td>" +
                    "<td> " + (listRequiredwood[i].width) + "</td>" +
                    "<td> " + (listRequiredwood[i].height) + "</td>" +
                    "<td> " + (listRequiredwood[i].p_name) + "</td></tr>";

//                if above doesn't work add back "</br>" ;
            }

        }


        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }


        //This part is for tools


        httpGetAsync('../api/requiredtools.php?user_id=user01&p_name=chair', callrequiredtools); // changed callback to call
        function callrequiredtools(result) {
            console.log(result);
            var listRequiredtools = JSON.parse(result);


            for (var i in listRequiredtools) {
                var htmlrequiredtools = document.getElementById("requiredtools").innerHTML;
                document.getElementById("requiredtools").innerHTML = htmlrequiredtools + "<tr>" +
                    "<td>" + (listRequiredtools[i].prtool_id ) + "</td>" +
                    "<td>" + (listRequiredtools[i].tool) + "</td>" +
                    "<td>" + (listRequiredtools[i].p_name) + "</td></tr>";
            }

        }


        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }


        //This part is for screws

        httpGetAsync('../api/requiredscrews.php?user_id=user01&p_name=chair', callrequiredscrews); // changed callback to call
        function callrequiredscrews(result) {
            console.log(result);
            var listRequiredscrews = JSON.parse(result);


            for (var i in listRequiredscrews) {
                var htmlrequiredscrews = document.getElementById("requiredscrews").innerHTML;
                document.getElementById("requiredscrews").innerHTML = htmlrequiredscrews + "<tr>" +
                    "<td> " + (listRequiredscrews[i].prsw_id ) + "</td>" +
                    "<td>" + (listRequiredscrews[i].length) + "</td>" +
                    "<td> " + (listRequiredscrews[i].number) + "</td>" +
                    "<td> " + (listRequiredscrews[i].p_name) + "</td></tr>";
            }

        }


        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }


    </script>




</head>

<br>

<h1> ToolBox(Required stock to build project) </h1>

</br>

<h2> Wood Required to be purchased </h2>

</br>

<table class="table" style="...">
    <thead>
    <tr>
        <th scope="col">pw_id</th>
        <th scope="col">Length</th>
        <th scope="col">Width</th>
        <th scope="col">Height</th>
        <th scope="col">p_name</th>
    </tr>
    </thead>
    <tbody id="requiredwood">
    </tbody>
</table>

<!--<div id = "requiredwood"> </div>-->

</br>

<h2> Tools Required to be purchased </h2>

</br>

<table class="table" style="...">
    <thead>
    <tr>
        <th scope="col">prtool_id</th>
        <th scope="col">Tool</th>
        <th scope="col">p_name</th>
    </tr>
    </thead>
    <tbody id="requiredtools">
    </tbody>
</table>

<!--<div id="requiredtools"></div>-->

</br>

<h2> Screws Required to be purchased </h2>

</br>

<table class="table" style="...">
    <thead>
    <tr>
        <th scope="col">prsw_id</th>
        <th scope="col">Length</th>
        <th scope="col">Number</th>
        <th scope="col">p_name</th>
    </tr>
    </thead>
    <tbody id="requiredscrews">
    </tbody>
</table>

<!--<div id="requiredscrews"></div>-->

</br>
<h5>Once you are finished click <a href="instructions.htm"> here </a> for instructions </h5>
</br>


</body>

</html>