 <!DOCTYPE html>
<html>

<head>

    <link rel ="stylesheet" href ="../ToolBoxCSS.css"/>

    <script>

        //This part is for wood

        httpGetAsync('../api/requiredwood.php?user_id=user01&p_name=chair', callrequiredwood); // changed callback to call
        function callrequiredwood(result) {
            console.log(result);
            var listRequiredwood = JSON.parse(result);


            for (var i in listRequiredwood) {
                var htmlrequiredwood = document.getElementById("requiredwood").innerHTML;
                document.getElementById("requiredwood").innerHTML = htmlrequiredwood
                  + " " +    (listRequiredwood[i].pw_id )
                  + " " +    (listRequiredwood[i].length)
                  + " " +   (listRequiredwood[i].width)
                  + " " +   (listRequiredwood[i].height)
                  + " " +   (listRequiredwood[i].p_name) + "</br>" ;
            }

        }


        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }


        //This part is for tools


        httpGetAsync('../api/requiredtools.php?user_id=user01&p_name=chair', callrequiredtools); // changed callback to call
        function callrequiredtools(result) {
            console.log(result);
            var listRequiredtools = JSON.parse(result);


            for (var i in listRequiredtools) {
                var htmlrequiredtools = document.getElementById("requiredtools").innerHTML;
                document.getElementById("requiredtools").innerHTML = htmlrequiredtools
                    + " " + (listRequiredtools[i].prtool_id )
                    + " " + (listRequiredtools[i].tool)
                    + " " + (listRequiredtools[i].p_name) + "</br>";
            }

        }


        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }


        //This part is for screws

        httpGetAsync('../api/requiredscrews.php?user_id=user01&p_name=chair', callrequiredscrews); // changed callback to call
        function callrequiredscrews(result) {
            console.log(result);
            var listRequiredscrews = JSON.parse(result);


            for (var i in listRequiredscrews) {
                var htmlrequiredscrews = document.getElementById("requiredscrews").innerHTML;
                document.getElementById("requiredscrews").innerHTML = htmlrequiredscrews
                    + " " + (listRequiredscrews[i].prsw_id )
                    + " " + (listRequiredscrews[i].length)
                    + " " + (listRequiredscrews[i].number)
                    + " " + (listRequiredscrews[i].p_name) + "</br>";
            }

        }


        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }


    </script>




</head>

<body>

<h1> ToolBox </h1>

<h2> Wood Required to be purchased </h2>


<!--<table class="table" style="width: 50%">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th scope="col">pw_id</th>-->
        <!--<th scope="col">Length</th>-->
        <!--<th scope="col">Width</th>-->
        <!--<th scope="col">Height</th>-->
        <!--<th scope="col">p_name</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody id="requiredwood">-->
    <!--</tbody>-->
<!--</table>-->

<div id = "requiredwood"> </div>


<h2> Tools Required to be purchased </h2>


<div id="requiredtools"></div>


<h2> Screws Required to be purchased </h2>


<div id="requiredscrews"></div>


</br>
<h5>Once you are finished click <a href="instructions.htm"> here </a> for instructions </h5>
</br>


</body>

</html>